ul,li{
    list-style: none;
}
li{
   
    font-size: 15px;
    float: left;
    margin-left: 6%;
    margin-top: 6%;
    height: 304px;
    width: 403px;;
  background-color: darkseagreen;
  text-align: center
}
p{
    text-decoration: none;
    position: relative;
    top: 235px;
    left: -73px;
}
img{
    height: 200px;
    width:200px;
    position: relative;
    top: -48px;
    left: -4px;
}
.uu{
    background-color: papayawhip;
    margin-top: -33px;
}